<%- include('../fragments/header'); -%>
  <div class="container main-content">
    <h1>Über diesen Service</h1>
    <p></p>
    <br>
   
    <h2>Disclaimer</h2>
    <p>Ich/die Urheber und Mitwirkenden dieses Dienstes und/oder dieser Website sind nicht verantwortlich für Probleme, die sich aus seiner Nutzung ergeben, einschließlich Verlust oder Beschädigung in Bezug auf Ausrüstung, Eigentum, Verletzung oder Leben.
     <br/>Sie nutzen diesen Service auf eigenes Risiko.</p>
    <br>
    <h2>Datenschutzerklärung</h2>
    <p>Klicken Sie hier, um die mit diesem Dienst verknüpften <a href="/privacy">Datenschutzrichtlinien</a> anzuzeigen</p>
    <p>Tatsächlich werden begrenzte Personendaten gespeichert, nämlich Ihre E-Mail-Adresse, Ihr Benutzername, Ihr Wohnsitzland und Informationen, die Sie für bestimmte Geräte eingeben, die Sie steuern möchten. IP-Adressen werden auch in Reverse-Proxy-Protokollen gespeichert, um bei der Fehlerbehebung bei Serviceproblemen zu helfen.</p>
    <p>Cookies werden verwendet, um Browsersitzungen zu verwalten. Diese Daten ermöglichen zukünftige Serviceverbesserungen / -entwicklungen, um Leistungsprobleme zu beheben.</p>
  </div>
<%- include('../fragments/footer'); -%>
