<%- include('../fragments/header'); -%>
  <div class="container main-content">
      <form class="form-changePassword" id="form-changePassword">
        <% if (message != undefined && message != "") { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%= message %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Schließen">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <h1 class="h3 mb-3 font-weight-normal"><center><strong>Passwort ändern</strong></center></h1>
        <center><img src="/static/images/alexa_connect_icons/alexa-connect.png"></center>
        <br/>
        <% if (!user) { %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" style="width: 50px;" id="basic-addon2" disabled><span class="iconify" data-icon="heroicons-solid:mail" data-width="20" data-height="20"></span></span>
          </div>
          <input type="email" id="email" class="form-control" required placeholder="E-Mail Adresse" title="E-Mail Adresse">
        </div>
        <p><small id="emailHelpBlock" class="form-text text-muted">Manuelle Eingabe erforderlich, um zu verhindern, dass E-Mail-Scanner einmalige Token verwenden!</small></p>
        <% } %>
        <% if (token != undefined && !user) { %>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" style="width: 50px;" id="basic-addon2" disabled><span class="iconify" data-icon="ri:key-fill" data-width="20" data-height="20"></span></span>
              </div>
              <input type="text" class="form-control" id="token" value="<%= token %>" placeholder="Token" required>
          </div>
        <% } else if (!user) { %>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" style="width: 50px;" id="basic-addon2" disabled><span class="iconify" data-icon="ri:key-fill" data-width="20" data-height="20"></span></span>
              </div>
              <input type="text" class="form-control" id="token" placeholder="Token" required>
          </div>
        <% } %>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width: 50px;" id="basic-addon2" disabled><span class="iconify" data-icon="ri:lock-password-fill" data-width="20" data-height="20"></span></span>
            </div>
            <input type="password" id="password" name="password" pattern="(?=^.{12,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" autocomplete="new-password" placeholder="Neues Passwort" required title="Passwort">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width: 50px;" id="basic-addon2" disabled><span class="iconify" data-icon="ri:lock-password-fill" data-width="20" data-height="20"></span></span>
            </div>
            <input type="password" id="verify" name="verify" pattern="(?=^.{12,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" autocomplete="new-password" required placeholder="Neues Passwort wiederholen" title="Passwort wiederholen">
        </div>
        <p><small id="passwordHelpBlock" class="form-text text-muted">Das Passwort muss mindestens 12 Zeichen lang sein und Groß-, Klein- und Zahlen- / Symbolzeichen enthalten.</small></p>
        <br>
        <button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Passwort ändern</button>
      </form>

      <script type="application/javascript">
        var password = document.getElementById("password")
        var verify = document.getElementById("verify");
        password.onchange = validatePassword;
        verify.onkeyup = validatePassword;

        function validatePassword(){
          if(password.value != verify.value) {
            verify.setCustomValidity("Passwörter stimmen nicht überein!");
          } else {
            verify.setCustomValidity('');
          }
        }

        $("#form-changePassword").submit(function(e) {
            e.preventDefault();
            var xhr = new XMLHttpRequest();
            var strPassword = $('#password').val();

            // Check if token and email exists, it might if use has come via "My Account" page
            if ($("#token").length && $("#email").length) {
              var token = $('#token').val().trim();
              var email = $('#email').val().trim();
              var params = "password=" + encodeURIComponent(strPassword)
              + "&email=" + encodeURIComponent(email)
              + "&token=" + encodeURIComponent(token);
            }
            else {
              var params = "password=" + encodeURIComponent(strPassword);
            }
            console.log(params);

            xhr.open('POST', '/change-password',true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
              if( xhr.readyState == 4 && xhr.status == 202) {
                //password changed
                alert(xhr.responseText);
                window.location = '/login';
              } else if (xhr.readyState == 4 && (xhr.status == 400 || xhr.status == 500)) {
                //show error
                alert(xhr.responseText);
                window.location = '/change-password';
              }
            }

            xhr.send(params);
        });
      </script>
  </div>
<%- include('../fragments/footer'); -%>