<%- include('../fragments/header'); -%>
  <div class="container main-content">
    <h1>Impressum</h1>
    <br/>
    <p>Informationspflicht laut § 5 TMG.</p>
    <br/>
    <p>Daniel Pfister<br/>Alte Fürther Straße 9,<br/>90556 Cadolzburg,<br/>Deutschland</p>
    <br/>
    <p><b>E-Mail:</b> support(at)alexa-connect.de</p>
    <br/>
    <br/>
    <h2>EU-Streitschlichtung</h2>
    <p>Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten ich Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br/>Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen Kommission unter <a href="http://ec.europa.eu/odr">http://ec.europa.eu/odr</a> zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in meinem Impressum.</p>
    <p>Ich möchte Sie jedoch darauf hinweisen, dass ich nicht bereit oder verpflichtet bin, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    <br/>
    <h2>Haftungsauschluss</h2>
    <p>Ich bin nicht verantwortlich für Probleme, die sich aus seiner Nutzung diese Dienstes ergeben, einschließlich Verlust oder Beschädigung in Bezug auf Ausrüstung, Eigentum, Verletzung oder Leben.
     <br/><b>Sie nutzen diesen Service auf eigenes Risiko.</b></p>
    <br>
    <h2>Haftung für Links auf dieser Website</h2>
    <p>Meine Webseite enthält Links zu anderen Webseiten für deren Inhalt ich nicht verantwortlich bin. Haftung für verlinkte Websites besteht für mich nicht, da ich keine Kenntnis rechtswidriger Tätigkeiten hatte und habe, mir solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und ich Links sofort entfernen würde, wenn mir Rechtswidrigkeiten bekannt werden.</p>
    <p>Wenn Ihnen rechtswidrige Links auf meiner Website auffallen, bitte wir Sie mich zu kontaktieren. Sie finden die Kontaktdaten im Impressum.</p>
    <br/>
    <h2>Urheberrechtshinweis</h2>
    <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht der Bundesrepublik Deutschland. Bitte fragen Sie mich bevor Sie die Inhalte dieser Website verbreiten, vervielfältigen oder verwerten wie zum Beispiel auf anderen Websites erneut veröffentlichen.</p>
    <p>Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten ich Sie mich zu kontaktieren.</p>
    <br/>
    <h2>Bildernachweis</h2>
    <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt.</p>
    <p>Die Bilderrechte liegen bei den folgenden Fotografen und Unternehmen:</p>
    <ul>
      <li><a href="https://iconify.design/">© Octicon</a></li>
    </ul>
    <br/>
    <h2>Datenschutzerklärung</h2>
    <p>Klicken Sie hier, um die mit diesem Dienst verknüpften <a href="/privacy">Datenschutzrichtlinien</a> anzuzeigen</p>
    <p>Tatsächlich werden begrenzte Personendaten gespeichert, nämlich Ihre E-Mail-Adresse, Ihr Benutzername, Ihr Land und Informationen, die Sie für bestimmte Geräte eingeben, die Sie steuern möchten. IP-Adressen werden auch in Reverse-Proxy-Protokollen gespeichert, um bei der Fehlerbehebung bei Serviceproblemen zu helfen.</p>
    <p>Cookies werden verwendet, um Browsersitzungen zu verwalten. Diese Daten ermöglichen zukünftige Serviceverbesserungen / -entwicklungen, um Leistungsprobleme zu beheben.</p>
  </div>
<%- include('../fragments/footer'); -%>
