<%- include('../fragments/header'); -%>
  <div class="container main-content">
      <form class="form-lostPassword" id="form-lostPassword">
          <h1 class="h3 mb-3 font-weight-normal"><center><strong>Passwort zurücksetzen</strong></center></h1>
          <center><img src="/static/images/alexa_connect_icons/alexa-connect.png"></center>
          <br/>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 50px;" id="basic-addon2" disabled><span class="iconify" data-icon="heroicons-solid:mail" data-width="20" data-height="20"></span></span>
            </div>
            <input type="email" id="email" class="form-control" placeholder="E-Mail Adresse" required autofocus title="E-Mail Adresse">
          </div>
          <br>
          <button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Passwort zurücksetzen</button>
        </form>

        <script type="application/javascript">
          $("#form-lostPassword").submit(function(e) {
              e.preventDefault();
              var xhr = new XMLHttpRequest();
              var email = document.getElementById('email').value;
              var params = 'email=' + encodeURIComponent(email);
              xhr.open('POST', '/lost-password',true);
              xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
              xhr.onreadystatechange = function () {
                if( xhr.readyState == 4 && xhr.status == 202) {
                  //new lostpassword token created
                  alert(xhr.responseText);
                  window.location = '/lost-password';
                } else if (xhr.readyState == 4 && (xhr.status == 400 || xhr.status == 500)) {
                  //show error
                  alert(xhr.responseText);
                }
              }
            xhr.send(params);
          });
      </script>
    </div>
  </div>
<%- include('../fragments/footer'); -%>