<%- include('../fragments/header'); -%>
  <div class="container main-content">
      <form class="form-verifyResend" id="form-verifyResend">
          <h1 class="h3 mb-3 font-weight-normal"><center><strong>Neue Verifizierung anfordern</strong></center></h1>
          <center><img src="/static/images/alexa_connect_icons/alexa-connect.png"></center>
          <br/>
          <p>Verwenden Sie dieses Formular, um Ihre Verifizierungs-E-Mail erneut anzufordern.</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 50px;" id="basic-addon2" disabled><span class="iconify" data-icon="heroicons-solid:mail" data-width="20" data-height="20"></span></span>
            </div>
            <input type="email" id="email" class="form-control" required placeholder="E-Mail Adresse" title="E-Mail Adresse">
          </div>
          <br>
          <button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Anfordern</button>
        </form>

        <script type="application/javascript">
          $("#form-verifyResend").submit(function(e) {
              e.preventDefault();
              var xhr = new XMLHttpRequest();
              var email = document.getElementById('email').value;
              var params = 'email=' + encodeURIComponent(email);
              xhr.open('POST', '/verify-resend',true);
              xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
              xhr.onreadystatechange = function () {
                if( xhr.readyState == 4 && xhr.status == 202) {
                  //new re-verification email sent to users email address
                  alert(xhr.responseText);
                  window.location = '/verify-resend';
                } else if (xhr.readyState == 4 && (xhr.status == 400 || xhr.status == 500)) {
                  //show error
                  alert(xhr.responseText);
                  window.location = '/verify-resend';
                }
              }
            xhr.send(params);
          });
      </script>
    </div>
  </div>
<%- include('../fragments/footer'); -%>