<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %></title>

  <!-- Bootsrap Code -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Site-specific Code -->
  <link href="/static/css/navbar.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/basic.css">
  <link rel="stylesheet" href="/static/css/countrySelect.css">
  <!-- Flag Sprite Code -->
  <link  rel=stylesheet href="/static/css/flags.css" type="text/css">
  <!-- Octicons Code -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <!-- Call JQuery as used in forms too early to be in footer-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Country Select Code -->
  <script src="/static/js/countrySelect.min.js"></script>
  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="/static/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Alexa-Connect">
  <meta name="application-name" content="Alexa-Connect">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="msapplication-TileImage" content="/static/mstile-144x144.png">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
  <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand notranslate" href="#"><img src="/static/images/alexa_connect_icons/alexa-connect.png" width="32px"> <%= brand %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
                <li <% if (locals.home) {%>class="active"<% } %>><a class="nav-link" href="/">Home</a></li>
                <li <% if (locals.impress) {%>class="active"<% } %>><a class="nav-link" href="/impress">Impressum</a></li>
                <li <% if (locals.privacy) {%>class="active"<% } %>><a class="nav-link" href="/privacy">Datenschutz</a></li>
                <% if (user) { %>
                  <% if (user.superuser == false) { %>
                    <li <% if (locals.acc) {%>class="active"<% } %>><a class="nav-link" href="/my-account">Mein Account</a></li>
                    <li <% if (locals.devs) {%>class="active"<% } %>><a class="nav-link" href="/devices">Meine Geräte</a></li>
                  <% } %>
                <% } %>
                <% if (user) { %>
                  <li><a class="nav-link" href="/logout">Abmelden</a></li>
                <% } else { %>
                  <li <% if (locals.login) {%>class="active"<% } %>><a class="nav-link" href="/login">Anmelden</a></li>
                  <% if (allow_user_registration == "true" ) {%>
                    <li <% if (locals.newuser) {%>class="active"<% } %>><a class="nav-link" href="/new-user">Registrieren</a></li>
                  <% } %>
                <% } %>
                <% if (user) { %>
                  <% if (user.superuser == true) { %>
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Verwalten
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                         <a class="dropdown-item" href="/admin/services">OAuth Services</a>
                         <a class="dropdown-item" href="/admin/users">Alle Benutzer</a>
                         <a class="dropdown-item" href="/admin/user-devices">Alle Geräte</a>
                      </div>
                  </div>
                  <% } %>
                <% } %>
          </ul>
        </div>
      </nav>
  <!-- <div class="container main"> -->
