<h1 class="h3 mb-3 font-weight-normal">Anmeldung</h1>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 140px;" id="basic-addon2" disabled><strong>Benutzername</strong></span>
    </div>
    <input type="text" id="username" name="username" class="form-control" autocomplete="username" required autofocus>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 140px;" id="basic-addon2" disabled><strong>Passwort</strong></span>
    </div>
    <input type="password" id="password" name="password" class="form-control" autocomplete="current-password" required>
</div>
<small id="privacyLink" class="form-text text-muted"><a href="#privacyModal">Datenschutzbestimmungen anzeigen</a></small>
<br>
<button class="btn btn-lg btn-success btn-block" type="submit" value="login">Anmelden</button>
<br>
<p> <a href="/lost-password" class="btn btn-secondary btn-block">Passwort vergessen?</a></p>
<p> <a href="/verify-resend" class="btn btn-secondary btn-block">Verifizierungs E-Mail erneut senden</a></p>
<p> <a href="/new-user" class="btn btn-primary btn-block">Account Registrieren</a></p>

