<h1 class="h3 mb-3 font-weight-normal">Account erstellen</h1>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 140px;" id="basic-addon2" disabled><strong>Benutzername</strong></span>
    </div>
    <input type="text" id="username" name="username" style="text-transform: lowercase;" pattern="^[a-z0-9]{5,15}$" class="form-control" autocapitalize="none" required autofocus title="a-z, 0-9 characters and be 5-15 chars." autocomplete="username">
</div>
<p><small id="usernameHelpBlock" class="form-text text-muted">Muss in Kleinbuchstaben geschrieben werden, 5-15 Zeichen einschließlich a-z und 0-9.</small></p>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 102px;" id="basic-addon2" disabled><strong>E-Mail</strong></span>
    </div>
    <input type="email" id="email" class="form-control" required title="Email address.">
</div>
<p><small id="emailHelpBlock" class="form-text text-muted">Sie müssen Ihre E-Mail-Adresse bestätigen.</small></p>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 102px;" id="basic-addon2" disabled><strong>Land</strong></span>
    </div>
    <input type="text" style="width: 309px;" id="country" class="form-control" required>
    <input type="text" id="country_code" name="country_code" data-countrycodeinput="1" readonly="readonly" hidden />
</div>
<p><small id="countryHelpBlock" class="form-text text-muted">Muss mit dem Land des Amazon-Kontos übereinstimmen, das mit Alexa / Echo-Geräten verwendet wird.</small></p>
<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 140px;" id="basic-addon2" disabled><strong>Passwort</strong></span>
        </div>
        <input type="password" id="password" name="password" pattern="(?=^.{12,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" autocomplete="new-password" required title="Must include UpperCase, LowerCase, Number/Special and Minimum 12 Characters">
</div>
<p><small id="passwordHelpBlock" class="form-text text-muted">Mindestens 12 Zeichen, muss Groß- / Kleinbuchstaben, numerische Zeichen / Symbolzeichen enthalten.</small></p>
<small id="privacyLink" class="form-text text-muted"><a href="#privacyModal">Datenschutzbestimmungen anzeigen</a></small>
<br>
<button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Registrieren</button>